* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Acme", sans-serif;
}
.main-container {
  background-color: #fcf300;
  width: 100vw;
  height: 100vh;
}
.container {
  position: relative;
  top: 2rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  /* padding: 30px; */
}
label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
/* .trans-value {
    border: 1px solid red;
  }
  .trans-amt {
    border: 1px solid green;
  }

  .typeName {
    border: 1px solid blue;
  } */
.btn {
  width: 8rem;
  height: 1rem;
  /* margin: 0 auto; */
}
button {
  padding: 5px;
  width: 8rem;
}
.transaction {
  position: relative;
  top: 5rem;
  max-width: 600px;
  width: 100%;
  margin: 10px auto;
  /* border: 1px solid green; */
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
.flex {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 5rem;
}
.flex h4 {
  color: #072ac8;
}
.income-color {
  color: green;
}
.expense-color {
  color: red;
}
.displayIncAndExp {
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }
}
